{% extends 'kolekcja/base.html' %}
{% load static %}

{% block content %}

    <div class="logo-container">
        <img src="{% static 'img/logo-czary.png' %}" alt="Czary Mary Logo" class="logo-baner">
    </div>

    <div class="search-container">
        <form method="GET">
            <input type="text" name="szukaj" placeholder="Wpisz tytuł filmu..." value="{{ request.GET.szukaj|default:'' }}">
            <button type="submit">Szukaj</button>
        </form>
    </div>

    {% for film in filmy %}
        <div class="karta-filmu zwiniete" onclick="pokazSzczegoly(this)">
            
            <div class="naglowek-filmu">
                <h2 class="tytul">{{ film.tytul }}</h2>
                
                {% if film.plakat %}
                    <img src="{{ film.plakat.url }}" alt="Plakat" class="plakat-hover">
                {% endif %}
            </div>

            <div class="szczegoly">
                <div class="info-grid">
                    {% if film.plakat %}
                        <img src="{{ film.plakat.url }}" class="plakat-duzy">
                    {% endif %}
                    
                    <div class="teksty">
                        {% if film.ocena %}
                            <div class="ocena-badge">⭐ {{ film.ocena }} / 10</div>
                        {% endif %}
                        
                        <p class="rezyser">REŻYSER: <span>{{ film.rezyser }}</span></p>
                        <p class="opis">{{ film.opis }}</p>
                        
                        <div class="przyciski-akcji">
                            <a href="{% url 'edytuj_film' film.id %}" class="btn-edytuj">EDYTUJ</a>
                            <a href="{% url 'usun_film' film.id %}" class="btn-edytuj btn-usun" style="background-color: #E50914; border: 1px solid #E50914; margin-left: 10px;">USUŃ</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    {% endfor %}

    <script>
        function pokazSzczegoly(element) {
            if (event.target.tagName === 'A' || event.target.tagName === 'BUTTON') {
                return;
            }
            element.classList.toggle("rozwiniete");
            element.classList.toggle("zwiniete");
        }
    </script>

{% endblock %}