{% extends 'kolekcja/base.html' %}

{% block content %}
    <h1 class="moje_filmy">Moje Filmy</h1>

    {% for film in filmy %}
        <a href="{% url 'edytuj_film' film.id %}" class="link-filmu">
            <div class="karta-filmu">
                <h2 class="tytul">{{ film.tytul }}</h2>
                
                {% if film.plakat %}
                    <img src="{{ film.plakat.url }}" alt="Plakat" class="plakat-img">
                {% endif %}
                
                {% if film.ocena %}
                    <div class="ocena-badge">
                        ⭐ {{ film.ocena }} / 10
                    </div>
                {% endif %}

                <p class="rezyser">REŻYSER: <span>{{ film.rezyser }}</span></p>
                <p class="opis">{{ film.opis }}</p>
            </div>
        </a>
    {% endfor %}
{% endblock %}