{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title class="moja_kolekcja">Moja Kolekcja</title>
        <link rel="stylesheet" href="{% static 'css/kolekcja.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    </head>
    <body>

        <h1 class="moje_filmy">Moje Filmy</h1>

        {% for film in filmy %}
            <div class="karta-filmu">
                <h2 class="tytul">{{ film.tytul }}</h2>
                <p class="rezyser">REŻYSER: <span>{{ film.rezyser }}</span></p>
                <p class="opis">{{ film.opis }}</p>
            </div>
        {% endfor %}

    </body>
</html>